*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(./wp3082432.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}